<%- include ('includes/header', {username: username}) %>
    <main>
        <h1 class="text-4xl font-bold text-center mt-10">404 - Página no encontrada</h1>

        <img src="https://i.pinimg.com/originals/2b/1d/fe/2b1dfec19b945a19ac39641278a6a799.jpg"
            alt="Pokedex Banner" class="w-screen max-40" />
    </main>

    <%- include ('includes/footer')%>