<%- include ('includes/header')%>
    <div class="flex flex-col justify-center items-center w-screen mt-16">
        <h1 class="text-2xl font-bold justify-center mb-8">Hola. soy el profesor Oak</h1>
        <img src="/images/profesor_oak.jpg" alt="Professor Oak" width="200" height="200">
    </div>

    <div id="chat-container" class="flex flex-col justify-center items-center mt-8">
        <div id="chat-messages" class="bg-gray-200 p-4 rounded-lg mb-4">
            <!-- Chat messages will be displayed here -->
        </div>
        <div id="chat-input" class="flex items-center">
            <input type="text" id="message-input" placeholder="Type your message..."
                class="border border-gray-300 rounded-l-lg py-2 px-4 focus:outline-none">
            <button id="send-button"
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-r-lg">Send</button>
        </div>
    </div>


    <script>
        // Add your JavaScript code here
    </script>
    </body>

    </html>
    <%- include ('includes/footer')%>