<%- include ('includes/header', {username: username}) %>
    <h1 class="text-4xl font-bold mb-4">Tabla de Tipos de Pokemon</h1>
    <table class="w-full border-collapse text-center my-4"> <!-- Added 'my-4' class for vertical margin -->
        <tr class="bg-white">
            <th class="py-2 px-4 border">Tipo</th>
            <th class="py-2 px-4 border">Fortalezas</th>
            <th class="py-2  px-4 border">Debilidades</th>
        </tr>
        <tr class="bg-slate-200">
            <td class="py-2 px-4 border">Normal</td>
            <td class="py-2 px-4 border">-</td>
            <td class="py-2 px-4 border">Lucha</td>
        </tr>
        <tr class="bg-red-200">
            <td class="py-2 px-4 border">Lucha</td>
            <td class="py-2 px-4 border">Normal, Roca, Acero, Hielo, Siniestro</td>
            <td class="py-2 px-4 border">Volador, Psíquico, Hada</td>
        </tr>
        <tr class="bg-sky-200">
            <td class="py-2 px-4 border">Volador</td>
            <td class="py-2 px-4 border">Lucha, Bicho, Planta</td>
            <td class="py-2 px-4 border">Roca, Eléctrico, Hielo</td>
        </tr>
        <tr class="bg-purple-200">
            <td class="py-2 px-4 border">Veneno</td>
            <td class="py-2 px-4 border">Planta, Hada</td>
            <td class="py-2 px-4 border">Tierra, Psíquico</td>
        </tr>
        <tr class="bg-yellow-500">
            <td class="py-2 px-4 border">Tierra</td>
            <td class="py-2 px-4 border">Veneno, Roca, Acero, Fuego, Eléctrico</td>
            <td class="py-2 px-4 border">Agua, Planta, Hielo</td>
        </tr>
        <tr class="bg-gray-300">
            <td class="py-2 px-4 border">Roca</td>
            <td class="py-2 px-4 border">Volador, Bicho, Fuego, Hielo</td>
            <td class="py-2 px-4 border">Lucha, Tierra, Acero</td>
        </tr>
        <tr class="bg-green-200">
            <td class="py-2 px-4 border">Bicho</td>
            <td class="py-2 px-4 border">Planta, Psíquico, Siniestro</td>
            <td class="py-2 px-4 border">Volador, Roca, Fuego</td>
        </tr>
        <tr class="bg-purple-300">
            <td class="py-2 px-4 border">Fantasma</td>
            <td class="py-2 px-4 border">Fantasma, Psíquico</td>
            <td class="py-2 px-4 border">Fantasma, Siniestro</td>
        </tr>
        <tr class="bg-gray-300">
            <td class="py-2 px-4 border">Acero</td>
            <td class="py-2 px-4 border">Roca, Hielo, Hada</td>
            <td class="py-2 px-4 border">Acero, Fuego, Agua, Eléctrico</td>
        </tr>
        <tr class="bg-red-300">
            <td class="py-2 px-4 border">Fuego</td>
            <td class="py-2 px-4 border">Bicho, Acero, Planta, Hielo</td>
            <td class="py-2 px-4 border">Roca, Agua, Dragón</td>
        </tr>
        <tr class="bg-blue-200">
            <td class="py-2 px-4 border">Agua</td>
            <td class="py-2 px-4 border">Tierra, Roca, Fuego</td>
            <td class="py-2 px-4 border">Agua, Planta, Dragón</td>
        </tr>
        <tr class="bg-green-200">
            <td class="py-2 px-4 border">Planta</td>
            <td class="py-2 px-4 border">Tierra, Roca, Agua</td>
            <td class="py-2 px-4 border">Volador, Veneno, Bicho, Acero, Fuego, Planta, Dragón</td>
        </tr>
        <tr class="bg-yellow-200">
            <td class="py-2 px-4 border">Eléctrico</td>
            <td class="py-2 px-4 border">Volador, Agua</td>
            <td class="py-2 px-4 border">Tierra, Planta, Eléctrico, Dragón</td>
        </tr>
        <tr class="bg-pink-300">
            <td class="py-2 px-4 border">Psíquico</td>
            <td class="py-2 px-4 border">Lucha, Veneno</td>
            <td class="py-2 px-4 border">Bicho, Fantasma, Siniestro</td>
        </tr>
        <tr class="bg-blue-300">
            <td class="py-2 px-4 border">Hielo</td>
            <td class="py-2 px-4 border">Volador, Tierra, Planta, Dragón</td>
            <td class="py-2 px-4 border">Lucha, Roca, Acero, Fuego</td>
        </tr>
        <tr class="bg-blue-400">
            <td class="py-2 px-4 border">Dragón</td>
            <td class="py-2 px-4 border">Dragón</td>
            <td class="py-2 px-4 border">Acero, Hada</td>
        </tr>
        <tr class="bg-gray-500">
            <td class="py-2 px-4 border">Siniestro</td>
            <td class="py-2 px-4 border">Fantasma, Psíquico</td>
            <td class="py-2 px-4 border">Lucha, Bicho, Hada</td>
        </tr>
        <tr class="bg-red-200">
            <td class="py-2 px-4 border">Hada</td>
            <td class="py-2 px-4 border">Lucha, Dragón, Siniestro</td>
            <td class="py-2 px-4 border">Veneno, Acero</td>
        </tr>    </table>
    <%- include ('includes/footer')%>
