<!DOCTYPE >
<html>
  <head>
    <title>Pokedex</title>
    <meta charset="utf-8" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-gray-100">
      <div class="bg-red-600 p-4">
        <a href="/">
          <img
            src="https://img.icons8.com/ios/452/pokeball--v1.png"
            class="w-10 h-10"
          />
        </a>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-1/2 bg-white p-4 rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-center">Pokedex</h1>
        <p class="text-center">Bienvenido a la Pokedex</p>
        <a
          class="block text-center text-red-600 hover:text-red-800"
          href="/pokedex/registrar-pokemon"
        >
          Registrar Pokemon
        </a>
      </div>
    </div>
  </body>
</html>
