<!-- FILEPATH: /path/to/your/html/file.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-200">
        <header class="bg-blue-500 py-4 px-6 flex justify-between items-center">
            <div>
                <a href="/" class="block w-6 h-6 bg-cover bg-no-repeat bg-center" style="background-image: url('https://e7.pngegg.com/pngimages/906/501/png-clipart-pokeball-pokeball-thumbnail.png')"></a>
            </div>
            <nav>
                <ul class="flex gap-4">
                    <li><a href="/perfil/logout" class="text-white">Hola <%=username%></a></li>
                    <li><a href="/agregar_pokemon" class="text-white">Agregar Pokémon</a></li>
                    <li><a href="/pokedex" class="text-white">Pokédex</a></li>
                    <li><a href="/tabla_de_tipos" class="text-white">Tabla de Tipos</a></li>
                    <li><a href="/profesor" class="text-white">Profesor</a></li>
                    <li><a href="/perfil/login" cclass="text-white">Login</a></li>
                    <li><a href="/perfil/singup" cclass="text-white">Sing up</a></li>
                </ul>
            </nav>
        </header>
        


